.create-note{
  padding: 20px;
  box-shadow: 10px 10px 10px #ddd;
 
}

.add-btn {
    position: relative !important;
    bottom: -45px;
    left: 92%;
    background: rgba(126, 252, 0, 0.575) !important;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
}


.add-icon{
  font-size: 59px !important;
}

.note{
  padding: 10px 15px;
  box-shadow: 10px 10px 10px lightgrey;
  width: 200px;
  min-width: 200px;
  border-radius: 10px;
  margin: 10px;
}

.btn{
  margin-left: 125px;
}